*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*Index*/
.primer-texto{
    color: #E92178;
    text-align: center;
    background-color: #D9C6FA;
    font-family: 'Merriweather', serif;
    padding: 4px;
}
.logo-blanco{
    width: 200px;
}
.logo-blanco img{
    width: 100%;
}

.navegador{
    background-color: #D9C6FA;
}
.navegador ul{
    display: flex;
    list-style: none;
    justify-content: center;
}


.navegador ul li a{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
    display: block;
    padding: 10px 20px;    
}

.imagen-banner{
    width: 100%;
    height: 900px;
    
}
.portada{
    text-align: center;
    background-image: url(../imagenes/logo-banner/BANNER.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
}
.texto-izquierda{
    text-align: end;
}
.caja-productosdestacadosindex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.prod-destacado{
    width: 400px;
    margin: 10px;
    border: solid 4px;
    border-radius: 5px;
}

.prod-destacado img {
    width: 100%;
    height: 600px;

}
.prod-destacado button{
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: rgb(11, 11, 170);
    margin: 10px;
    padding: 5px 15px;
}






/*Talles*/
table{
    border: solid 4px;
    border-collapse: collapse;
}
.tabla-talles th,td{
    border: solid 4px;
    padding: 10px;
}
.foot-position-talles{
    position: absolute;
    bottom: 385px;
    width: 100%;
    height: 10px;
}





/*Contacto*/
fieldset{
    border: solid 2px;
    border-radius: 10px;
    border-image-width: 1px;
    width: 280px;
}
textarea{
    resize:none;
}
.pad-top15 form{
    padding-top: 15px;
}
.pad-top15 form div{
    padding-top: 15px;
}





/*Politica de Cambio*/
.justificado{
    text-align: start;
}
.puntos{
    list-style: circle;
    list-style-type: disc;
    
}
main ul li{
    text-align: center;
    list-style-type: circle;
    list-style: disc;
}
.foot-position-politicas{
    position: absolute;
    bottom: 385px;
    width: 100%;
    height: 10px;
}





/*Preguntas Frecuentes*/
.centrado{
    text-align: center;
}
.pad-top15 p{
    padding-top: 15px;
}
.foot-position-preguntas{
    position: absolute;
    bottom: 385px;
    width: 100%;
    height: 10px;
}





/*Productos*/

.img-prod div img {
    width: 90%;
    height: 800px;
    margin-top: 20px;
    
}
.img-prod div button{
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: rgb(11, 11, 170);
    margin: 10px;
    padding: 5px 15px;
}
.caja-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
    
    
}




/*Generales*/
h1{
    text-align: center;
}

.table-webs tr td{
    border: none; 
}
footer div table{
    border: none;
}
.publicidad{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 10px;
}
.whatsapp{
    width: 90%;
    height: inherit;
    object-fit: cover;
}
.pad-top15{
    padding-top: 15px;
}
.metodos-de-pago{
    display: flex;
}
.metodos-de-pago div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nuestras-redes{
    display: flex;
}


@media(max-width:1024px){
    
    
}
@media(max-width:768px){
    .primer-texto p{
        font-size: 22px;
    }
    .navegador{
        width: 100%;
        height: 40px;  
    }
    .navegador ul li a{
        font-size: 16px;
    }
    .imagen-banner{
        height: 400px;
    }
    main h2{
        font-size: 12px;
    }
    .prod-destacado{
        width: 100%;
        height: 300px;   
    }
    .caja-productosdestacadosindex{
        height: 400px;
    }
    .prod-destacado img{
        object-fit: cover;
        height: 200px;
    }
    .whatsapp{
        width: 20px;       
    }
    .nuestras-redes{
        height: 50px;
    }
    .nuestras-redes img{
        height: 50px;
    }
}
@media(max-width:480px){
    .primer-texto p{
        font-size: 14px;
    }
    

}

/* 
object fit cover */