@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

.boton6c, .boton5c, .boton4c, .boton3c, .boton2c, .boton1c {
  color: white;
  border-radius: 5px;
  border: 0;
  background-color: rgb(11, 11, 170);
  margin: 10px;
  padding: 5px 15px;
}

.navegador {
  background-image: linear-gradient(#D9C6FA, rgb(234, 0, 255));
}
.navegador ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navegador ul li a {
  font-size: 32px;
  color: black;
  text-decoration: none;
  font-family: "Source Serif Pro", serif;
  display: block;
  padding: 10px 20px;
}

.primer-texto {
  color: #E92178;
  text-align: center;
  background-color: #D9C6FA;
  font-family: "Merriweather", serif;
  padding: 4px;
}

.logo-blanco {
  width: 200px;
}
.logo-blanco img {
  width: 100%;
}

.imagen-banner {
  width: 100%;
  height: 800px;
}

.box-genero {
  border: solid 2px;
  border-radius: 10px;
  border-image-width: 1px;
  display: flex;
}
.box-genero label {
  padding-left: 10px;
}

.prod-destacado {
  width: 400px;
  margin: 10px;
  border: solid 4px;
  border-radius: 5px;
  transition: 1s;
}
.prod-destacado img {
  width: 100%;
  height: 600px;
}
.prod-destacado button {
  color: white;
  border-radius: 5px;
  border: 0;
  background-color: rgb(11, 11, 170);
  margin: 10px;
  padding: 5px 15px;
}

.prod-destacado {
  border-color: rgb(170, 170, 170);
}

.prod-destacado h3 {
  padding-top: 10px;
}

.img1-index:hover {
  transform: translate(-20px, 10px);
}
.img1-index:hover button {
  transform: scale(1.2);
}

.img2-index:hover {
  transform: translate(20px, 10px);
}
.img2-index:hover button {
  transform: scale(1.2);
}

.h1-talles {
  text-align: center;
}

.h2-talles {
  padding-top: 15px;
  margin-left: 20px;
}

table {
  border: solid 4px;
  border-collapse: collapse;
}

.tabla-talles th, td {
  border: solid 4px;
  padding: 10px;
  text-align: center;
}

.tabla-talles {
  margin-left: 20px;
}

textarea {
  resize: none;
}

.mapa {
  padding-top: 25px;
  padding-bottom: 5px;
}

.h1-contacto {
  padding-top: 15px;
  text-align: center;
}

@media (max-width: 425px) {
  .h1-contacto {
    font-size: 24px;
  }
  .h3-contacto {
    font-size: 18px;
  }
}
.justificado {
  text-align: start;
}

main ul li {
  text-align: center;
  list-style: disc;
}

.strong-politica {
  padding-top: 15px;
  text-align: center;
}

.margen-politicas p {
  margin-left: 20px;
}

.h2-footer {
  padding-top: 10px;
}

.foot-position-politicas {
  position: absolute;
  bottom: 385px;
  width: 100%;
  height: 10px;
}

.m-top {
  margin-top: 15px;
}

.h1-politicas {
  text-align: center;
  padding-top: 10px;
}

.h3-footer {
  padding-top: 10px;
}

.h1-productos {
  text-align: center;
}

.caja-productos h4 {
  color: rgb(0, 0, 0);
}

.caja-productos h3 {
  color: rgb(212, 0, 255);
}

.img-prod div img {
  width: 100%;
  height: 700px;
  margin-top: 0px;
}

.img-prod div img:hover {
  transform: scale(1.2);
}

.productos-productos {
  border: solid 5px;
  border-radius: 10px;
  border-color: rgb(170, 170, 170);
}

.caja-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.caja-productos div {
  margin-left: 20px;
}

.formulario {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombre apellido" "edad telefono" "email email" "mensaje mensaje" "genero genero" "terminos terminos" "enviar borrar";
}
.formulario label {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 5px;
}
.formulario label:nth-child(1) {
  grid-area: nombre;
}
.formulario label:nth-child(2) {
  grid-area: apellido;
}
.formulario label:nth-child(3) {
  grid-area: edad;
}
.formulario label:nth-child(4) {
  grid-area: telefono;
}
.formulario label:nth-child(5) {
  grid-area: email;
}
.formulario label:nth-child(6) {
  grid-area: mensaje;
}
.formulario fieldset {
  grid-area: genero;
}
.formulario .termino {
  grid-area: terminos;
}
.formulario .termino input {
  height: 20px;
}
.formulario .termino input:nth-child(1) {
  grid-area: enviar;
}
.formulario .termino input:nth-child(2) {
  grid-area: borrar;
}

@media (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "apellido" "edad " "telefono" "email " "mensaje " "genero " "terminos " "enviar " "borrar";
  }
  .mapa iframe {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 425px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "apellido" "edad " "telefono" "email " "mensaje " "genero " "terminos " "enviar " "borrar";
  }
  .formulario label {
    font-size: 18px;
  }
  .mapa iframe {
    width: 200px;
    height: 100px;
  }
}
@media (max-width: 375px) {
  .mapa iframe {
    width: 270px;
    height: 250px;
  }
  .formulario label {
    font-size: 16px;
  }
}
footer div table {
  border: none;
}

.metodos-de-pago {
  display: flex;
  height: 60px;
}
.metodos-de-pago div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nuestras-redes {
  display: flex;
  height: 60px;
}
.nuestras-redes div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.derechos-de-autor {
  text-align: end;
}

.caja-productosdestacadosindex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.h2-productosindex {
  font-size: 46px;
  text-align: center;
}

.redes-h2 {
  font-size: 34px;
}

@media (max-width: 1024px) {
  .caja-productos div {
    height: 380px;
  }
  .caja-productos div img {
    height: 68%;
  }
  .h1-politicas {
    font-size: 36px;
  }
  main p {
    font-size: 18px;
  }
  .imagen-banner {
    height: 400px;
  }
  .h2-footer {
    font-size: 28px;
  }
  .navegador {
    width: 100%;
  }
  .navegador ul li a {
    font-size: 20px;
  }
  .h2-productosindex {
    font-size: 36px;
  }
  main h2 {
    font-size: 38px;
  }
  footer h2 {
    font-size: 25px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer p {
    font-size: 14px;
  }
  footer h6 {
    font-size: 10px;
  }
  .nuestras-redes {
    height: 50px;
  }
  .nuestras-redes img {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .primer-texto p {
    font-size: 10px;
  }
  .h2-productosindex {
    font-size: 30px;
  }
  .h1-politicas {
    font-size: 30px;
  }
  main strong {
    font-size: 18px;
  }
  main p {
    font-size: 16px;
  }
  .h2-foter {
    font-size: 24px;
  }
  div.nuestras-redes {
    height: 40px;
  }
  .h3-footer {
    font-size: 18px;
  }
  footer p {
    font-size: 12px;
  }
  footer h6 {
    font-size: 8px;
  }
  .navegador ul li a {
    font-size: 14px;
  }
  .logo-blanco {
    width: 150px;
  }
  .imagen-banner {
    height: 300px;
  }
  .prod-destacado {
    width: 100%;
    height: 395px;
  }
  .prod-destacado h4 {
    font-size: 16px;
  }
  .prod-destacado p {
    font-size: 10px;
  }
  .prod-destacado h3 {
    font-size: 12px;
    padding-top: 5px;
  }
  .prod-destacado button {
    font-size: 15px;
    margin: 4px;
    position: sticky;
  }
  .caja-productosdestacadosindex {
    height: 320px;
  }
  .prod-destacado {
    height: 300px;
  }
  .prod-destacado img {
    object-fit: cover;
    height: 200px;
  }
  .h2-footer {
    font-size: 20px;
  }
  .metodos-de-pago {
    height: 40px;
  }
  .nuestras-redes {
    height: 50px;
  }
  .nuestras-redes img {
    height: 50px;
  }
}
@media (max-width: 556px) {
  .primer-texto p {
    font-size: 6px;
  }
  .logo-blanco {
    width: 120px;
  }
  .navegador ul li a {
    font-size: 9px;
    padding: 5px;
    text-align: center;
  }
  .imagen-banner {
    height: 200px;
  }
  .preg-padre h1 {
    font-size: 35px;
  }
  .caja-productosdestacadosindex {
    height: 220px;
  }
  .prod-destacado {
    height: 200px;
  }
  .prod-destacado img {
    height: 100px;
    object-fit: fill;
  }
  .prod-destacado h4 {
    font-size: 16px;
  }
  .prod-destacado p {
    font-size: 10px;
  }
  .prod-destacado h3 {
    font-size: 10px;
    padding-top: 5px;
  }
  .prod-destacado button {
    font-size: 14px;
    margin: 2px;
  }
  .h2-tamanio {
    font-size: 12px;
  }
  .metodos-de-pago {
    height: 30px;
  }
  div.nuestras-redes {
    height: 25px;
    justify-items: cover;
  }
  div.nuestras-redes img {
    height: 18px;
  }
  div h3 {
    font-size: 10px;
  }
  div p {
    font-size: 8px;
  }
  div h6 {
    font-size: 6px;
  }
  .h1-politicas {
    font-size: 15px;
    padding-top: 4px;
  }
  main strong {
    font-size: 10px;
  }
  main p {
    font-size: 10px;
  }
  ul li {
    font-size: 10px;
  }
}
@media (max-width: 481px) {
  .primer-texto p {
    font-size: 6px;
  }
  .logo-blanco {
    width: 100px;
  }
  .navegador ul li a {
    font-size: 9px;
    padding: 5px;
    text-align: center;
  }
  .imagen-banner {
    height: 200px;
  }
  .h2-productosindex {
    font-size: 20px;
  }
  .preg-padre h1 {
    font-size: 30px;
  }
  .caja-productosdestacadosindex {
    height: 200px;
  }
  div.prod-destacado {
    height: 10px;
  }
  .h1-productos {
    font-size: 24px;
    padding-top: 5px;
  }
  .caja-productos div {
    height: 250px;
  }
  .caja-productos div {
    margin-left: 10px;
  }
  .caja-productos div h4 {
    font-size: 12px;
  }
  .caja-productos div h3 {
    font-size: 12px;
  }
  .caja-productos div button {
    font-size: 10px;
  }
  .caja-productos div h4 {
    font-size: 10px;
  }
  .caja-productos div h3 {
    font-size: 9px;
  }
  div.prod-destacado {
    height: 190px;
  }
  .prod-destacado {
    border: solid 2px;
    border-radius: 2px;
  }
  .prod-destacado img {
    height: 100px;
  }
  .prod-destacado h4 {
    font-size: 14px;
  }
  .prod-destacado p {
    font-size: 8px;
  }
  .prod-destacado h3 {
    font-size: 8px;
    padding-top: 5px;
  }
  .prod-destacado button {
    font-size: 6px;
    margin: 2px;
  }
  .img1-index:hover {
    transform: translate(-5px, 5px);
  }
  .img1-index:hover button {
    transform: scale(1.1);
  }
  .img2-index:hover {
    transform: translate(5px, 5px);
  }
  .img2-index:hover button {
    transform: scale(1.1);
  }
  .caja-productos div h4 {
    font-size: 10px;
  }
  .caja-productos div p {
    font-size: 5px;
  }
  .caja-productos div h3 {
    font-size: 8px;
    padding-top: 5px;
  }
  .caja-productos div button {
    font-size: 6px;
    margin: 2px;
  }
  .h3-footer {
    font-size: 9px;
  }
  .h2-tamanio {
    font-size: 11px;
  }
  .metodos-de-pago {
    height: 25px;
  }
  div.nuestras-redes {
    height: 25px;
    justify-items: cover;
  }
  div.nuestras-redes img {
    height: 18px;
  }
  div h3 {
    font-size: 5px;
  }
  div p {
    font-size: 5px;
  }
  div h6 {
    font-size: 5px;
  }
  .h1-politicas {
    font-size: 15px;
    padding-top: 4px;
  }
  main strong {
    font-size: 10px;
  }
  main p {
    font-size: 10px;
  }
  ul li {
    font-size: 10px;
  }
  .h1-talles {
    font-size: 22px;
  }
  .h2-talles {
    font-size: 18px;
  }
  .tabla-talles th, td {
    font-size: 14px;
    border: solid 2px;
    padding: 5px;
  }
  table {
    border: solid 2px;
  }
}
@media (max-width: 320px) {
  .primer-texto p {
    font-size: 8px;
  }
  .logo-blanco {
    width: 80px;
  }
  .navegador ul li a {
    font-size: 9px;
    padding: 5px;
    text-align: center;
  }
  .imagen-banner {
    height: 200px;
  }
  .preg-padre h1 {
    font-size: 25px;
  }
  .h2-productosindex {
    font-size: 16px;
  }
  div.caja-productosdestacadosindex {
    height: 200px;
  }
  div.prod-destacado {
    height: 170px;
  }
  .prod-destacado img {
    height: 100px;
  }
  .prod-destacado h4 {
    font-size: 12px;
  }
  .prod-destacado p {
    font-size: 8px;
  }
  .prod-destacado h3 {
    font-size: 8px;
    padding-top: 5px;
  }
  .prod-destacado button {
    font-size: 8px;
    margin: 2px;
  }
  .img1-index:hover {
    transform: translate(-5px, 5px);
  }
  .img1-index:hover button {
    transform: scale(1.1);
  }
  .img2-index:hover {
    transform: translate(5px, 5px);
  }
  .img2-index:hover button {
    transform: scale(1.1);
  }
  .caja-productos div h4 {
    font-size: 10px;
  }
  .caja-productos div p {
    font-size: 5px;
  }
  .caja-productos div h3 {
    font-size: 8px;
    padding-top: 5px;
  }
  .caja-productos div button {
    font-size: 6px;
    margin: 2px;
  }
  div.prod-destacado {
    height: 190px;
  }
  .metodos-de-pago {
    height: 25px;
  }
  .h2-tamanio {
    font-size: 9px;
  }
  div.nuestras-redes {
    height: 25px;
    justify-items: cover;
  }
  div.nuestras-redes img {
    height: 18px;
  }
  div h3 {
    font-size: 5px;
  }
  div p {
    font-size: 5px;
  }
  div h6 {
    font-size: 5px;
  }
  .h1-politicas {
    font-size: 15px;
    padding-top: 4px;
  }
  main strong {
    font-size: 10px;
  }
  main p {
    font-size: 10px;
  }
  ul li {
    font-size: 10px;
  }
  .tabla-talles th, td {
    padding: 3px;
  }
}

/*# sourceMappingURL=styles.css.map */
