.formulario{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"nombre apellido"
                        "edad telefono"
                        "email email"
                        "mensaje mensaje"
                        "genero genero"
                        "terminos terminos"
                        "enviar borrar";
    label{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 5px;
    }
    label:nth-child(1){
        grid-area: nombre;
    }
    label:nth-child(2){
        grid-area: apellido;
    }
    label:nth-child(3){
        grid-area: edad;
    }
    label:nth-child(4){
        grid-area: telefono;
    }
    label:nth-child(5){
        grid-area: email;
    }
    label:nth-child(6){
        grid-area: mensaje;
    }
    fieldset{
        grid-area: genero;
    }
    .termino{
        grid-area: terminos;
        input{
            height: 20px;  
        }
        input:nth-child(1){
            grid-area: enviar;
        }
        input:nth-child(2){
            grid-area: borrar;
        }
    }                    
}

@media (max-width:768px){
    .formulario{  
        grid-template-columns: 1fr;
        grid-template-areas:"nombre"
                            "apellido"
                            "edad "
                            "telefono"
                            "email "
                            "mensaje "
                            "genero "
                            "terminos "
                            "enviar "
                            "borrar";
    }
    .mapa iframe{
        width: 350px;
        height: 200px;      
     }
}
@media (max-width:425px){
    .formulario{  
        grid-template-columns: 1fr;
        grid-template-areas:"nombre"
                            "apellido"
                            "edad "
                            "telefono"
                            "email "
                            "mensaje "
                            "genero "
                            "terminos "
                            "enviar "
                            "borrar";
    }
    .formulario label{
        font-size: 18px;
    }
    .mapa iframe{
       width: 200px;
       height: 100px;      
    }
    
}
@media(max-width:375px){
    .mapa iframe{
       width: 300px;
       height: 250px;      
    }
    .formulario label{
        font-size: 16px;
    }
}