.caja-productosdestacadosindex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h2-productosindex{
    font-size: 46px;
    text-align: center;
}
.redes-h2{
    font-size: 34px;
}