.h1-talles{
    text-align: center;
}
.h2-talles{
    padding-top: 15px;
    margin-left: 20px;
}
table{
    border: solid 4px;
    border-collapse: collapse;
}
.tabla-talles th,td{
    border: solid 4px;
    padding: 10px;
}
.tabla-talles{
    margin-left: 20px;
}