@import "reset";
@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import "variables";
@import "extends";
@import "navegador";
@import "primer-texto";
@import "logo-blanco";
@import "imagen-banner";
@import "box-genero";
@import "prod-destacado";
@import "talles";
@import "contacto";
@import "politicas-cambio";
@import "productos";
@import "formulario";
@import "footer";
@import "index-main";

@media(max-width:1024px){

    .caja-productos div{
        height: 380px;
        img{
            height: 68%;
        }
    }
  
    .h1-politicas{
        font-size: 36px;
    }
    main p{
       font-size: 18px; 
    }
    .imagen-banner{
        height: 400px;
    }
 
    .h2-footer{
        font-size: 28px;
    }
    .navegador{
        width: 100%;
        ul li a{
            font-size: 20px;
        }
    }
    .h2-productosindex{
        font-size: 36px;
    }
    main h2{
        font-size: 38px;
    }
    footer{
        h2{
            font-size: 25px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 14px;
        }
        h6{
            font-size: 10px;
        }
    }

    .nuestras-redes{
        height: 50px;
        img{
            height: 50px;
        }
    }
    
}
@media(max-width:768px){

    .primer-texto p{
        font-size: 10px;
    }
    .h2-productosindex{
        font-size: 30px;
    }
    .h1-politicas{
        font-size: 30px;
    }
    main{
        strong{
            font-size: 18px;
        }
        p{
            font-size: 16px; 
         }
    }
    .h2-foter{
        font-size: 24px;
    }
    div.nuestras-redes{
        height: 40px;
    }
    .h3-footer{
        font-size: 18px;
    }
    footer{
        p{
            font-size: 12px;
        }
        h6{
            font-size: 8px;
        }
    }

    .navegador ul li a{
        font-size: 14px;
    }
    .logo-blanco{
        width: 150px;
    }
    .imagen-banner{
        height: 300px;
    }

    
    .prod-destacado{
        width: 100%;
        height: 395px;   
    }

    .prod-destacado{
        h4{
            font-size: 16px;
        }
        p{
            font-size: 10px;
        }
        h3{
            font-size: 12px;
            padding-top: 5px;   
        }
        button{
            font-size: 15px;
            margin: 4px;
            position: sticky;
        }

    }
    .caja-productosdestacadosindex{
        height: 320px;
    }
    .prod-destacado{
        height: 300px;
        img{
            object-fit: cover;
            height: 200px;
        }
    }

    .h2-footer{
        font-size: 20px;
    }
    .metodos-de-pago{
        height: 40px;
    }
    .nuestras-redes{
        height: 50px;
        img{
            height: 50px; 
        }
    }

}

@media(max-width:556px){

    .primer-texto p{
        font-size: 6px;
    }
    .logo-blanco{
        width: 120px;
    }
    .navegador ul li a{
        font-size: 9px;
        padding: 5px;
        text-align: center;
     
    }
    .imagen-banner{
        height: 200px;
    }
    .preg-padre h1{
        font-size: 35px;
    }
 
    .caja-productosdestacadosindex{
        height: 220px;
    }
    .prod-destacado{
        height: 200px;
        img{
        height: 100px;
        object-fit: fill;
        }
        h4{
            font-size: 16px;
        }
        p{
            font-size: 10px;
        }
        h3{
            font-size: 10px;
            padding-top: 5px;
        }
        button{
            font-size: 14px;
            margin: 2px;        
        }
    }  
    .h2-tamanio{
        font-size: 12px;
    }
    .metodos-de-pago{
        height: 30px;
    }
    div.nuestras-redes{
        height: 25px;
        justify-items: cover;
        img{
            height: 18px;   
        }
    }
    div{
        h3{
            font-size: 10px;
        }
        p{
            font-size: 8px;
        }
        h6{
            font-size: 6px;
        }
    }
    .h1-politicas{
        font-size: 15px;
        padding-top: 4px;
    }
    main strong{
        font-size: 10px;
    }
    main p{
        font-size: 10px;
    }
    ul li{
        font-size: 10px;
    }
}

@media(max-width:481px){
    .primer-texto p{
        font-size: 6px;
    }
    .logo-blanco{
        width: 100px;
    } 
    .navegador ul li a{
        font-size: 9px;
        padding: 5px;
        text-align: center;
     
    }
    .imagen-banner{
        height: 200px;
    }
    .h2-productosindex{
        font-size: 20px;
    }
    .preg-padre h1{
        font-size: 30px;
    }
 
    .caja-productosdestacadosindex{
        height: 200px;
    }
    div.prod-destacado{ 
        height: 10px;
    }
    .h1-productos{
        font-size: 24px;
        padding-top: 5px;
    }
    .caja-productos div{
        height: 250px;
    }
    .caja-productos div{
        margin-left: 10px;
        h4{
            font-size: 12px;
        }
    }
    
    .caja-productos div h3{
        font-size: 12px;
    }
    .caja-productos div button{
    font-size: 10px;   
    }
    .caja-productos div h4{
        font-size: 10px;
    }
    .caja-productos div h3{
        font-size: 9px;
    }
    div.prod-destacado{
        height: 190px;
    }
    .prod-destacado{
        border: solid 2px;
        border-radius: 2px;
        img{
            height: 100px;
        }
        h4{
            font-size: 14px;
        }
        p{
            font-size: 8px;
        }
        h3{
            font-size: 8px;
            padding-top: 5px;
        }
        button{
            font-size: 6px;
            margin: 2px;  
        }
    }


    .img1-index:hover{
        transform: translate(-5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    .img2-index:hover{
        transform: translate(5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    .caja-productos div {
        h4{
            font-size: 10px;
        }
        p{
            font-size: 5px;
        }
        h3{
            font-size: 8px;
            padding-top: 5px;
        }
        button{
            font-size: 6px;
            margin: 2px;
        }
    }
    .h3-footer{
        font-size: 9px;
    }
    .h2-tamanio{
        font-size: 11px;
    }
    .metodos-de-pago{
        height: 25px;
    }
    div.nuestras-redes{
        height: 25px;
        justify-items: cover;
        img{
            height: 18px;
        }
    }
    div{
        h3{
            font-size: 5px;
        }
        p{
            font-size: 5px;
        }
        h6{
            font-size: 5px;
        }
    }
    .h1-politicas{
        font-size: 15px;
        padding-top: 4px;
    }
    main{
        strong{
            font-size: 10px;
        }
        p{
            font-size: 10px;
        }
    }
   
    ul li{
        font-size: 10px;
    }
    .h1-talles{
        font-size: 22px;
    }
    .h2-talles{
        font-size: 18px;
    }
    .tabla-talles th,td{
        font-size: 14px;
        border:solid 2px;
        padding: 5px;
    }
    table{
        border:solid 2px;
    }

}

@media(max-width:320px){

    .primer-texto p{
        font-size: 8px;
    }
    .logo-blanco{
        width: 80px;
    }
    .navegador ul li a{
        font-size: 9px;
        padding: 5px;
        text-align: center;
     
    }
    .imagen-banner{
        height: 200px;
    }
    .preg-padre h1{
        font-size: 25px;
    }
    .h2-productosindex{
        font-size: 16px;
    }
    
    div.caja-productosdestacadosindex{
        height: 200px;
    }
    div.prod-destacado{
        height: 170px;
    }
    .prod-destacado{
        img{
            height: 100px;
        }
        h4{
            font-size: 12px;
        }
        p{
            font-size: 8px;
        }
        h3{
            font-size: 8px;
            padding-top: 5px;
        }
        button{
            font-size: 8px;
            margin: 2px;
        }

    }
    .img1-index:hover{
        transform: translate(-5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    .img2-index:hover{
        transform: translate(5px,5px);
        button{
            transform: scale(1.1);            
        }
    }
    .caja-productos div {
        h4{
            font-size: 10px;
        }
        p{
            font-size: 5px;
        }
        h3{
            font-size: 8px;
            padding-top: 5px;
        }
        button{
            font-size: 6px;
            margin: 2px;
        }
    }
    div.prod-destacado{
        height: 190px;
    }

    .metodos-de-pago{
        height: 25px;
    }
    .h2-tamanio{
        font-size: 9px;
    }
    div.nuestras-redes{
        height: 25px;
        justify-items: cover;
        img{
            height: 18px;
        }
    }
    div{
        h3{
            font-size: 5px;
        }
        p{
            font-size: 5px;
        }
        h6{
            font-size: 5px;
        }
    }
    .h1-politicas{
        font-size: 15px;
        padding-top: 4px;
    }
    main{
        strong{
            font-size: 10px;
        }
        p{
            font-size: 10px;
        }
    }
    ul li{
        font-size: 10px;
    }
    .tabla-talles th,td{
        padding: 3px;
    }
}